






}
.plat:hover {
    .check {
        transform: translatex(-80px);
    }
}



/* .check:hover {
    transform: translatex(-80px);
}

.checkrotate{
    transition: transform 330ms ease-in-out;
}
.checkrotate:hover {
transform: rotate(360deg); */
}

