html {
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

* {
    max-width: 600px;
    margin: 0px;
}

.logoprinc {
    height: 40px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#EAEAEA;
    height:50px;
    box-shadow:inset 0 2px 2px lightgray;
}

.ville {
    margin-left: 20px;
}

.reservation {
    display: flex;
    flex-direction: column;
    background-color:#F7F7F7 ;
    align-items: center;
    padding: 40px;
}

h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
}

h3 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 25px;
}

button {
    all: unset;
    border-radius: 30px;
    height: 45px;
    width: 200px;
    text-align: center;
    color: white;
    background: linear-gradient(#ee74db, #9d5adc)
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre_fonctionnement {
    font-size: 25px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 24px;
    margin-bottom: 40px;
}

.etapes {
    display: flex;
    position:relative;
    background-color: #F7F7F7;
    width: 90vw;
    justify-content: center;
    max-width: 540px;
    margin: 10px;
    height: 60px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px #EAEAEA;
}

.etapes:active{
    background-color: #f5edff;
}
.text-fonctionnement {
    text-align: center;
}

.number {
    position: absolute;
    display: flex;
    left:-13.5px;
    border-radius: 50%;
    background-color: #9d5adc;
    height: 25px;
    width: 25px;
    align-items: center;
    justify-content: center; 
}

.icone {
    position: absolute;
    left: 15%;
    font-size: 20px;
}
main {
    background-color: #F7F7F7;
}
.imgrestau {
    object-fit: cover;
    height: 100%;
}

.vignettes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.restaurant {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90vw;
    max-width: 540px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 300px;

}
.nom_restaurant {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 10px;
}
.insidevignette {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nouveau {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#99e2d0 ;
    height: 30px;
    width: 80px;
    color:#008766 ;
    border-radius: 3px;
    
}

.coeur {
    margin: 20px;
    font-size: 30px;
    font-weight: 100;
}

.coeur:active {
    color: transparent;
    background-clip:text;
    background-image: linear-gradient(#ee74db, #9d5adc);
}

.quartier {
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 5px;
}

footer {
    background-color: #353535;
    color: white;
    padding-bottom: 30px;
}

.logo-footer {
    margin-top: 20px;
    margin-left: 20px;
    height: 22px;
    margin-bottom: 20px;
}
 .texte_footer2 {
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 20px;
 }
 
 .texte_footer {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
 }

 .logo_footer {
    display: flex;
    margin-left: 20px;
 }

.fa-utensils {
    width: 20px;
}